

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 3rem;
}

.image {
  height: 150px;
  margin: 50px 0;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
