.inputstyle {
  padding: 1rem;
  font-size: 1rem;
  width: 350px;
  border-top: none;
  border-bottom: 2px solid maroon;
  border-left: none;
  font-family: "Poppins", sans-serif;
  outline: none;
}

@media (max-width: 500px) {
  .inputstyle {
    width: 250px;
  }
}
